<div class="left-menu">
    <nav>
        <a routerLink="/home" routerLinkActive="active">Home</a>
        &nbsp; &nbsp;

        <!-- if user is not admin - show link to products for regular users (with no options to edit or add a product, and with option to add to cart) -->
        <ng-container *ngIf="!user || !user.isAdmin">
            <a routerLink="/products" routerLinkActive="active">Products</a>
            &nbsp; &nbsp;
        </ng-container>

        <!-- if user is Admin - show link to products for Admin (with no option to add to cart and with options to edit/add a product) -->
        <ng-container *ngIf="user && user.isAdmin">
            <a routerLink="/admin" routerLinkActive="active">Products</a>
            &nbsp; &nbsp;
        </ng-container>

        <!-- if user is logged in - show the drop-down menu for categories -->
        <ng-container *ngIf="user">
            <a mat-a [matMenuTriggerFor]="menu">Categories</a>
            <mat-menu #menu="matMenu">
                <button mat-menu-item *ngFor="let c of categories"
                    routerLink="/products/categories/{{c.categoryId}}">{{c.categoryName}}</button>
            </mat-menu>
            &nbsp; &nbsp;
        </ng-container>

        <ng-container *ngIf="user && user.isAdmin">
            <a routerLink="/add-product" routerLinkActive="active">Add Product</a>
            &nbsp; &nbsp;
        </ng-container>
    </nav>

</div>

<div class="right-menu">
    <!-- if user is not logged-in - show a "login" link + a "Hello Guest" -->
    <ng-container *ngIf="!user || !user.firstName">
        <span>HELLO GUEST!</span>
        &nbsp; &nbsp;
        <a routerLink="/home" routerLinkActive="active">LOGIN</a>
    </ng-container>

    <!-- if user is logged-in - show a "logout" link + a "Hello (user name)" -->
    <ng-container *ngIf="user && user.firstName">
        <span>HELLO {{user.firstName.toUpperCase()}} {{user.lastName.toUpperCase()}}!</span>
        &nbsp; &nbsp;
        <a routerLink="/logout" routerLinkActive="active">LOGOUT</a>
    </ng-container>
</div>