.box {
    box-sizing: border-box;
    min-width: fit-content;
    max-width: 200px;
    display: inline-block;
    align-items: center; 
    /* border: 1px solid black; */
    margin: 10px;
    padding: 5px;
}

.example-card {
    max-width: 200px;
    min-height: 200px;
    display: inline-block;

  }
  

p {
    /* border: 1px solid black; */
    text-align: left;
    align-items: flex-start;
    padding-left: 10px;
    font-size: larger;
}

img {
    max-height: 200px;
    max-width: 200px;
    margin: 5px;
    border-radius: 10px;
}

a {
    margin-left: auto;
    margin-right: 10px;
}

.text > button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

