

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="title">{{product.productName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imageUrl" alt="{{product.productName}}">
    <mat-card-content>
        <p class="price">
            Price: {{product.price | currency}} &nbsp; &nbsp;
            <mat-icon matTooltip="edit product">
                <a routerLink="/products/{{product.productId}}">edit</a>
            </mat-icon>
        </p>
    </mat-card-content>
    
</mat-card>