form {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 8px 8px 8px gray;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
}

input, select, textarea {
    display: block;
    border-radius: 5px;
    text-align: left;
    margin: auto;
    padding: 10px;
    width: 300px;
}

label {
    display: block;
    text-align: left;
    margin-left: 30px;
    padding: 10px;
    width: 300px;
}

select {
    width: 325px;
    margin-top: 10px;
}


button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
    margin: 20px;
}

button:hover {
    background-color: lightpink
}

span {
    color: red;
    font-size: small;
    font-style: italic;
}

input[type=file] {
    display: none;
}

img {
    width:50px;
}

.image-btn {
    
    width: 320px;
    padding: 10px;
    font-size: large;
}

.active {
    color: white;
    font-weight: bold;
}