@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700;900&display=swap');

html, body {
    margin:0;
    padding: 0;
    height: 100%;
    text-align: center;
    color: #ba2d65;
    background-color: #f3e5f5;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    color: #ba2d65;
    text-decoration: none;
    font-weight: 400;
}

a:hover {
    color: #8e24aa;
    cursor: pointer;
}

mat-icon {
    font-family: 'Material Icons' !important;
}

button {
    cursor: pointer;
}

.active {
    color: #ad1457;
    font-weight: bold;
}

/* html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */
