.example-card {
    max-width: 300px;
    height: 200px;
    display: inline-block;
    margin: 10px;
    vertical-align: bottom;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.title {
    font-size: 12pt;
}

img {
    max-width: 100px;
    height: 100px;
}

.price {
    text-align: left;
    font-size: 12pt;
    font-weight: 500;
    letter-spacing: 2px;
}

mat-icon {
    color: #c0b3c2;
}

mat-icon > a:hover {
    color: #ff94c2;
}

form > button {
    padding: 10px;
    width: 100px;
    border-radius: 5px;
    font-size: large;
    margin: 20px;
}

input {   
    border-radius: 5px;
    text-align: left;
    margin: auto;
    padding: 10px;
    width: 100px;
}

