<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="title">{{product.productName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="imageUrl" alt="{{product.productName}}">
    <mat-card-content>
        <p class="price">
            Price: {{product.price | currency}} &nbsp; &nbsp;
            <mat-icon matTooltip="add to shopping cart">
                <a>add_shopping_cart</a>
            </mat-icon>
        </p>
    </mat-card-content>

</mat-card>